html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    width: 100%;
    padding: 0;
    margin: 0;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    padding: 1rem;
}

main {
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sliders-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 10rem;
    height: 100%;
    margin-right: 1rem;
}

.sliders-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    height: 100%;
}

.sliders-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.sliders-wrapper input {
    width: 75%;
}

.input-range-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.range-slider {
    width: 100%;
    height: 8px;
    border-radius: 5px;
    background: #ddd;
    outline: none;
    -webkit-appearance: none;
    appearance: none;
}

.range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    border: 1px solid #000;
    transition: all 0.3s ease;
}

.range-slider::-webkit-slider-thumb:hover {
    background: #000;
}

.range-slider::-moz-range-thumb {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    border: 1px solid #000;
    transition: all 0.3s ease;
}

.range-slider::-moz-range-thumb:hover {
    background: #000;
}

.reset-button-wrapper {
    width: 100%;
}

.reset-button {
    margin-top: 1rem;
    width: 100%;
}

.image-upload-container {
    width: 100%;
    max-width: 400px;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    background: rgba(204, 204, 204, 0.2);
    border-radius: 3px;
}

.image-preview-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-preview {
    width: 10rem;
    min-height: 10rem;
    border: 1px solid rgb(204, 204, 204);
}

.input-container {
    margin-top: 0.5rem;
    width: 100%;
}

.image-input {
    width: 100%;
    text-align: center;
}

input[type="file"] {
    display: none;
}

.button {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 4px 8px;
    cursor: pointer;
    background: transparent;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

.button:hover {
    border: 1px solid #ccc;
    background: #000;
    color: #fff;
    transition: ease;
    transition-duration: 300ms;
}

.image-rendered-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.image-rendered {
    width: 100%;
}

.image-rendered-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: small;
}

.ascii-art-container {
    width: 100%;
    height: 100%;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ascii-art {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 6px;
    font-family: monospace;
    line-height: 0.75;
    letter-spacing: 0;
    text-align: center;
    white-space: pre;
}

.canvas-container {
    display: flex;
    margin-top: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    width: 100%;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}

* {
    box-sizing: border-box;
}